body 
{
	margin: 0;
	
	overflow: hidden;
	
	width: 100%;
	height: 100vh;
	
	background-color: #333;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	touch-action: none;
	/* cursor: grab; */
	
	font-family: sans-serif;
}

html
{
	overflow: hidden;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#svg_id
{
	touch-action: none;

	pointer-events: none;
	cursor: grab;
	
	position: fixed;
}