body 
{
	margin: 0;
	
	overflow: hidden;
	
	width: 100%;
	height: 100vh;
	
	background-color: #333;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	touch-action: none;
	/* cursor: grab; */
	
	font-family: sans-serif;
}

html
{
	overflow: hidden;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg
{
	touch-action: none;

	pointer-events: none;
	cursor: grab;
	
	position: fixed;
}

.basic_button
{
	height: 54px;
	width: 200px;
	background-color: gray;
	flex: 0 0 auto;
	margin: 3px;
	list-style: none;
	border-radius: 20px;
	font-size: 110%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding: 0 10px;
	cursor: default;	
}
