@media screen and (pointer: fine)
{
	.search_bar 
	{
		height: 40px;
		font-size: 200%;
	}
	
	.button_test {
		top: 22.5px;
		right: 15px;
		width: 35px;
		height: 35px;
		font-size: 200%;
		border-radius: 5px;
    }
	
	.flex-container 
	{
		height: 118px;
	}
	
	.filter 
	{
		width: 94px;
		height: 94px;
		margin: 3px;
		border-radius: 20px;
		font-size: 110%;
	}
	
	.point_selector 
	{
		height: calc(100vh - 181px);
		border-spacing: 0 3px;
	}
	
	tr 
	{
		height: 50px;
		font-size: 10px;
	}
	
	td
	{
		font-size: 360%;
	}
}
