.open_button
{
	margin-top: 5vh;
    display: inline-block;
    background-color:#DCDCDC;
    font-size: 18px;
    font-weight: 500;
    /* padding:7px; */
    border-radius: 20px;
    border: 3px solid transparent;
	width:98vw;
	height:5vh;
    text-decoration: none;	 

	position: fixed; /* Sit on top of the page content */

	top: 10px;
	left: 10px;
	right: 0;
	bottom: 0;
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
.open_button:hover 
{
  background: #C0C0C0;
}

.open_button:focus 
{
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.app-wrapper
{  
    width:97vw;
    top: 11vh;
	padding:7px;
	display: none;
	
	position: fixed; /* Sit on top of the page content */

	/* top: 0; */
	left: 10px;
	/* right: 0; */
	/* bottom: 0; */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 20px;
	
}
.color
{
	background-color:#DCDCDC;
	width:100vw;
	border-radius: 20px;
}
#legendContainerId
{
	
}

/* CSS for path */
	.pathContainer
	{
		display: flex;
		width: 200px;
	}
	.pathCircle
	{
		background-color: red;
		border-radius: 50%;
		display: inline-block;
	}
	.pathTextBox
	{
		width: 125px;
		height: 50px;
		margin-left: 10px;
	}
	.pathInnerText
	{
		width: 200%;
		height: 200%;
		color: black;
		top: 15px;
		font-size:20px;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		
    user-select: none;
	}
	.pathLineHorisontal
	{
		height: 5px;
		background-color: #FECC01;
		border-radius: 99px;
		position: relative;
		left: 47.5px;
	}
	.pathLineHorisontal
	{
		height: 5px;
		background-color: #FECC01;
		border-radius: 99px;
		position: relative;
		left: 47.5px;
	}
	.pathLineVertical
	{
		width: 5px;
		background-color: #FECC01;
		border-radius: 99px;
		margin-left: 47.5px;
	}
	.pathPicture
	{
		width: 55px; 
		height: 55px;
	}
	.pathFlexMain
	{
		display: flex; 
		width: 300px; 
		height: 70px; 
		margin-left: 0px;
	}
	.pathFlex1
	{
		display: flex;
		width: 100px;
		height: 70px;
		margin-left: 0px;
		flex-direction: column;
	}
	.pathFlex2
	{
		display: flex;
		width: 59px;
		height: 59px;
		margin-left: 0px;
		flex-direction: column;
		border: 2px solid #73AD21;
		border-radius: 3px;
	}
