html, body 
{
	margin:0;
	overflow:hidden;
	height:100%;
}

#map_Window 
{
	width: 100%;
	height: 100vh;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	touch-action: none;
	cursor: grab;
}

#svgID
{
	touch-action: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	pointer-events: none;
	cursor: grab;
}